{
    "port": 3001,
    "instances": [
        {
            "name": "instance1",
            "session_path": "/rocket_connect_files/instance1/session.json",
            "qr_path": "/rocket_connect_files/instance1/last.qr",
            "qr_png_path": "/rocket_connect_files/instance1/last.qr.png",
            "visitors_path": "/rocket_connect_files/instance1/visitors/",
            "media_path": "/rocket_connect_files/instance1/media/",
            "number": "5533XXXXXXX",
            "department": "DepartmentA",
            "manager_user": ["debug"],
            "default_closing_message": "Thank you for contacting company A. See you later!",
            "use_rocketchat_business_hours": false,
            "custom_initial_message": "Hi! This is a first message you receive when interacting at a new, openened channel. \n ✅ Please do this.\n\n ✋ And please don't do that.",
            "say_initial_when_closed": true,
            "custom_closed_message": "Hi! Right now Company A is closed. We received your message and will get back as soon as possible",
            "use_custom_business_hours": true,
            "custom_business_hours":[
                {
                    "day": "default",
                    "start": {
                      "time": "07:00"
                    },
                    "finish": {
                      "time": "18:00"
                    },
                    "open": true
                },
                {
                    "day": "Saturday",
                    "start": {
                      "time": "08:00"
                    },
                    "finish": {
                      "time": "20:00"
                    },
                    "open": false
                },
                {
                    "day": "Sunday",
                    "start": {
                      "time": "10:32"
                    },
                    "finish": {
                      "time": "20:00"
                    },
                    "open": false
                }
            ]
        }
    ],
    "rocketchat": {
        "enabled": true,
        "url": "http://rocketchat:3000",
        "admin_user": "debug",
        "admin_password": "debug",
        "bot_username": "bot",
        "bot_password": "bot@0192",
        "manager_user": ["debug"],
        "secret_token": "rocket_connect_secret"
    },
    "puppeteerOptions": {
        "puppeteer": {
            "args": ["--no-sandbox", "--disable-setuid-sandbox"],
            "headless": true
        }
    }
}